set path=%JAVA_HOME%/bin;%PATH%
del txt2mx2.jar
@REM jar xf c:\Users\Frank\.m2\repository\commons-lang\commons-lang\2.2\commons-lang-2.2.jar
@REM jar xf c:\Users\Frank\.m2\repository\log4j\log4j\1.2.14\log4j-1.2.14.jar
jar cvmf MANIFEST.MF txt2mx2.jar -C ../../../target/classes net
copy /Y ..\..\..\txt2mx2.config .
copy /Y ..\..\..\commas.txt .
copy /Y txt2mx2.bat txt2mx2.bat.txt

@REM c:\tools\bin\7za a txt2mx2-1.00.zip txt2mx2.bat.txt txt2mx2.jar txt2mx2.config commas.txt lib
c:\tools\bin\7za a -sfx7zS.sfx txt2mx2-1.00.exe txt2mx2.bat.txt txt2mx2.jar txt2mx2.config commas.txt lib

rmdir /s /q org
rmdir /s /q meta-inf




 