#
# Definition of the Minimal Blue template.
#
# Template design by Andreas Viklund
# See: http://andreasviklund.com/templates/andreas08/
#
#
AllInOne = false
Template = minimal-blue-index.html
RecipeTemplate = minimal-blue.html
SharedDirectory = minimal-blue
