=============================
THE TXT2MX2 KEYWORD FORMAT
=============================
Revised 2008-02-06 J. Shotsky

The proposed TXT2MX2 keyword format described below is intended to be utilized by the NoteTab text editor to convert tagged text to XML that can be imported into Mastercook and Living Cookbook.

The primary goal of the TXT2MX2 keyword format is to eliminate the need for the McTagit tool, which is no longer supported, and for which workarounds are necessary to overcome some of its shortcomings. By streamlining the process, files can be created that are ready for either Mastercook or Living Cookbook directly from NoteTab.

Another goal of the TXT2MX2 keyword format is that the keywords be easy for both humans and computers to work with. In the TXT2MX2 keyword format, each keyword ends with double colon, which should not be found in any recipe copied off the web, from email, out of a book or in an export from another program. Each keyword has one or more aliases, to simpilfy effort for those familiar with the process. There are additional keywords added so that there is no doubt as to what part of a recipe is being processed at any given time. Keywords can appear anywhere within a recipe to switch the recipe processor into a new mode, or recipe part. 

Usage: In its simplest form, one should be able to copy a recipe off the web, paste it into NoteTab, add a few tags, and create the MX2 file.

Another goal of this format is that it be capable of processing an existing McTagit File. There should be a NoteTab clip to process an existing McTagit file to add the new tags (title, ingredients, directions) and the additional colons.

It is not a goal of the TXT2MX2 keyword format to create a standard McTagit file FROM TXT2MX2. Standard McTagit files can still be created using existing methods. The TXT2MX2 keyword format is meant to replace McTagit. An existing NoteTab clip creates a McTagit file from an MX2 file. A new clip should be added that creates the new keyword format. There is no requirement to reverse the process.

TAGS			Mastercook FieldName
TITLE::,T::		Title <Text until next tag encountered. Maximum:255 characters> 
DESCRIPTION::, D::	Description <Text until next tag encountered. Maximum:255 characters>
SERVES::, S::, 		Servings <0-999>
YIELD::, Y::		Yield <Enter [Number: Units>
YAMT::, YA::		Yield Amount <Optional.
YUNIT::, YU::		Yield Unit <Optional>
ING::, I::		Ingredients <Ingredient rows until next tag encountered> [NEW]
DIR::, DIR::		Directions <Text until next tag encountered> [NEW]
CAT::, C::		Categories <Text until next tag encountered>
NOTES::	, N::		Notes <Text until next tag encountered>
CUISINE::, CUS::	Cuisine <Text until next tag encountered>
SRVIDEA::, SI::		Serving Ideas <Text until next tag encountered>
PREPTIM::, PT::		Preparation Time
TOTALTIM::, TT::	Start to Finish Time
ALTTIM::, AT::		Alternate Time <Enter [TIMELABEL: HH:MM]
ALTTIMLBL::, ATL::	Alternate Time Label <Optional>
ALTTIMTXT::ATT		Alternate Time Text <Optional>
AUTHOR::, A::, B::	Author <Text until next tag encountered>
SOURCE::, SRC::		Source <Text until next tag encountered>
COPYRIGHT::, CPR::	Copyright <Text until next tag encountered>
ALTS::, AS::		Alternate Source <Enter [SOURCE: Data about source]>
ALTSRCLBL::, ASL::	Alternate Source Label <Optional
ALTSRCTXT::, AST::	Alternate Source Text <Optional
WINE::, W::		Suggested Wine <Text until next tag encountered>
RATE::, R::		Ratings < Requires LABEL: Number from 0-10> (Supports up to 3 ratings)

REQUIREMENTS AND LIMITS FOR RECIPE FIELDS
TITLE::,T::		Title (Maximum:255 characters)
A Title field is considered to be all of the text following a title tag until either a blank line or a different tag is encountered. A title is mandatory. Titles may appear in any case in the input stream. A user option should be available for the user to select between ALL CAPS, Title Case, or accept the input string without change. Certain words should always be capitalized such as BBQ. A list of these words will be provided and should be under user control. Certain other words, such as Burgundy, should also be capitalized if they are not already. 

DESCRIPTION::, D::	Description (Maximum: 255 characters)
A Description  field is considered to be all of the text following a Description tag until a different tag is encountered. The description field is not generally used in Mastercook, because it does not appear in the recipe, and instead to describe the recipe before the recipe is opened in Mastercook. A user option should be available to move the Description field into a separate Directions paragraph.

SERVES::, S::, 		Servings <0-999>
A servings field is a number, from 1-999. Mastercook divides nutrition elements by this number to calculate nutrition per serving.

YIELD::, Y::		Yield <Enter [Number: Units>
Normally, Yield will be followed by a number and a units term.

YAMT::, YA::		Yield Amount <Optional>
Yield amount can optionally be specified

YUNIT::, YU::		Yield Unit <Optional>
Yield Units can e optionally specified. This could be done if yield units are needed that are not supported in Mastercook directly.

ING::, I::		Ingredients <Ingredient rows until next tag encountered>
ING indicates the beginning of an ingredients section. The mode remains Ingredient until a different tag is encountered.

DIR::, DIR::		Directions <Text until next tag encountered> (Maximum: 10,000 characters)
DIR indicates the beginning of a directions section. Directions may be grouped together, or paragraphs may be separated by blank lines. When blank lines are encountered, Mastercook places the paragraphs in separate rows. The mode remains Directions until another tag is encountered.

CAT::, C::		Categories <Text until next tag encountered>
Category is a text entry, with multiple categories separated by commas. Mode remains category mode until another tag is encountered.

NOTES::	, N::		Notes <Text until next tag encountered> (Maximum: 6000 characters)
Notes about the recipe or methods. Mode remains in Note mode until another tag is encountered. Notes should support separate paragraphs.

CUISINE::, CUS::	Cuisine <Text until next tag encountered>
Mastercook supports only one cuisine. If a comma is encounted,the text following the comma should be ignored.

SRVIDEA::, SI::		Serving Ideas <Text until next tag encountered> (Maximum: 6000 characters)
Serving ideas is a text entry. Mode remains Serving Ideas until another tag is encountered.

PREPTIM::, PT::		Preparation Time (Maximum: 5 characters)
As indicated

TOTALTIM::, TT::	Start to Finish Time (Maximum: 5 characters)
As indiated

ALTTIM::, AT::		Alternate Time <Enter [TIMELABEL: HH:MM] 
Place the alternate time label and text as: Cooking Time: 01:00

ALTTIMLBL::, ATL::	Alternate Time Label <Optional> (Maximum: 31 characters)
An alternate time label may be created, such as 'Cooking Time', Baking Time, etc

ALTTIMTXT::ATT		Alternate Time Text <Optional> (Maximum: 5 characters)
Alternate time as 00:00

AUTHOR::, A::, B::	Author <Text until next tag encountered> (Maximum: 255 characters)
As indicated

SOURCE::, SRC::		Source <Text until next tag encountered> (Maximum: 255 characters)
As indicated

COPYRIGHT::, CPR::	Copyright <Text until next tag encountered> (Maximum: 255 characters)
As indicated

ALTS::, AS::		Alternate Source <Enter [SOURCE: Data about source]> (Maximum: 255 characters)
An alternate source is entered as Label followed by a colon followed by text, such as Formatted By: John

ALTSRCLBL::, ASL::	Alternate Source Label <Optional
As indicated

ALTSRCTXT::, AST::	Alternate Source Text <Optional
As indicated

WINE::, W::		Suggested Wine <Text until next tag encountered> (Maximum: 132 characters)
As indicated

RATE::, R::		Ratings < Requires LABEL: Number from 0-10> 
Mastercook supports up to 3 ratings. Ratings are entered as a label followed by a colon, followed by a number. Taste: 5, Cost: 4 etc.

Ingredient row fields
There are 5 types of ingredient rows: Ingredient, Text, Embedded Recipe, Subtitle Recipe, and Blank Row.
Mastercook assumes all ingredient lines are ingredient type unless marked otherwise. Ingredient lines are coded with "I" in XML
Text lines are denoted by "--" as the first two characters in the row. Text lines are used to 'disable' an ingredient row. Nutrition is not calculated by Mastercook on text lines. Text rows should be imported as provided in the input stream. Text ines are coded as "T" in XML.
Embedded recipes are denoted by ^R at the beginning of the row. Embedded recipe lines are coded as "R" in the XML.
Subtitle recipes are 'sub recipes' that are included in a main recipe. The subtitle should be presented as all CAPS and followed by a colon, such as "RED BEAN SAUCE:", which would be immediately followed by the ingredients for the sauce. Subtitle recipe lines are coded as "S" in the XML.
Blank lines are used for formatting, for separating subtitles from main recipes, etc. Blank lines will appearin the input stream, and should be coded as text lines "T". Blank lines may also be preceded with "^B" as the first two characters of the row.

Amount	<Amount of a given ingredient. Maximum: 10 numeric characters>
The Amount is a number and cannot be a range, such as 1-2. The program should use the first number encountered, then place the range at the beginning of the preparation column, in parentheses, (1-2) before any other preparation or other miscellaneous data.

Unit	<Units to which the amount refers. Maximum: 25 alphanumeric characters>
Units will be encountered in many forms in the input stream. Units that are abbreviated in the input stream should be fully expanded to eliminate the abbreviations, since there are many different ways the same unit can be abbreviate. An option may be required to permit users to import abbreviated units. A lookup table should be used to determine how to encode units when mutiple words are required, such as (10-ounce) bag. Current list of examples is found in corrections.txt file. A list of acceptable units is provided below.

Ingredient	<Maximum 255 alphanumeric characters>
In general, the contents of the ingredient column are everything after the units up to and including the ingredient name. Commas must be retained if they occur before the ingredient name. Commas after the ingredient name denote preparation methods, so the comma should be deleted, and everything following the comma moved to the preparation column. See notes below about placement of prep data.


Ingredient lines that contain 'or' or 'plus' must be handled in a uniform manner. When Plus is used, a 2nd ingredient row much be created that matches the first row, complete with amount, units and ingredients, and preparation method, if present. The word PLUS must appear at the end of the prep column of the first row, after any existing prep information. Examples provided below.

Ingredient lines that contain 'or' must ensure that a proper ingredient name occurs before the 'or' appears. The 'or', and everythig following it should be moved to the beginning of the prep column, before any other actual prep data. An option should be provided so that the user can retain the 'or' contents in the ingredient field. Examples are provided below.

Ingredient lines that contain terms in parenthesis, like (optional), (about xxx), (at room temperature), should be moved to the end of the prep column, before a 'PLUS', if present.

Preparation Method	<Maximum 255 alphanumeric characters>
The Preparation Method field is a 'catch all' field for data that is not actual amount, units or ingredients, in addition to the actual preparation data. The order in which data elements appear in this column is defined above. While not all elements will be present in any given recipe line, the order of miscellaneous data in the prep column should be as follows:
(<Unit Range>, <'or' contents>, <prep data>, <parenthesis data>, <PLUS>)

============================================================================
MASTERCOOK LIMITS

Field	Characters
Title	255
Description 	255
Amount	10
Unit 	25
Ingredient	255
Preparation Method 	255
Directions 	10,000
Notes 	6,000
Author 	255
Copyright 	255
Source  	255
Alt Source  	255
Suggested Wine 	132
Serving Ideas 	6,000
Custom Times (Name)	31
Prep Time 	5
Total Time	5
Custom Time	5
Other Capabilities/Limitations:

Maximum collections in program	No Limit
Maximum number of cookbooks in program	No Limit
Maximum number of categories per cookbook 	No Limit
Maximum number of recipes per cookbook 	12,000
Maximum ingredients per recipe	No Limit
Maximum number of servings in recipe	9999

==============================================================================
UNITS LIST
batch
batches
block
blocks
bottle
bottles
bunch
bunches
can
cans
carton
cartons
centiliter
centiliters
clove
cloves
cob
cobs
cup
cups
dash
dashes
deciliter
deciliters
dozen
drop
drops
each
ear
ears
envelope
envelopes
fluid-ounce
fluid-ounces
gallon
gallons
gram
grams
head
heads
jar
jars
jigger
jiggers
kilogram
kilograms
large
liter
liters
lump
lumps
measure
measures
medium
medium-size
medium-sized
milligram
milligrams
milliliter
milliliters
ounce
ounces
package
packages
packet
packets
piece
pieces
pinch
pinches
pint
pints
pound
pounds
quart
quarts
rasher
rashers
recipe
recipes
scoop
scoops
serving
servings
shot
shots
slice
slices
small
sprig
sprigs
square
squares
stalk
stalks
stick
sticks
tablet
tablets
tablespoon
tablespoons
teaspoon
teaspoons
tub
tubs
whole

==============================================================================
CAPITALIZATION LIST
blt
tnt
bbq
bhg
bh&g
ww
toh 
cp 
lhj 
abm 
 qc

==============================================================================


==============================================================================
Examples of usage of 'plus' and 'or' in ingredient lines

Comma after ingredient name causes whatever follows to go to prep column
 -- after ingredient name causes whatever follows to go to prep column (Added manually)

Before
1 tablespoon plus 1 teaspoon dill seeds, crushed
after
1 tablespoon dill seeds, crushed, PLUS
1 teaspoon dill seeds, crushed

Before
2 eggs plus 3 egg whites, lightly beaten
After
2 eggs, lightly beaten, PLUS
2 egg whites, lightly beaten

Before 
2 cups. plus 2 tablespoons water, divided
After
2 cups water -- PLUS
2 tablespoons water, divided

Before
1/4 cup plus 2 tablespoons hot mango chutney
After
1/4 cup hot mango chutney -- PLUS
2 tablespoons hot mango chutney

Before
1/4 cup plus 2 tablespoons finely chopped red bell pepper
After
1/4 cup finely chopped red bell pepper -- PLUS
2 tablespoons finely chopped red bell pepper

Before
Yield: 4 servings (serving size: 1 pita half and 1/4 cup plus 1 tablespoon sauce) .
This is not changed, as it is not in the ingredients

Before
3 tablespoons plus 1 teaspoon chilled stick margarine, cut into small pieces
After
3 tablespoons chilled stick margarine, cut into small pieces PLUS
1 teaspoon chilled stick margarine, cut into small pieces

OR
Before
3/4 pound cod or other lean white fish fillets, cut into 1/2-inch pieces
After
3/4 pound cod -- or other lean white fish fillets, cut into 1/2-inch pieces

Before
2 tablespoons balsamic or sherry vinegar
After
2 tablespoons balsamic vinegar -- or sherry vinegar

Before
1/4 cup Burgundy or other dry red wine
After
1/4 cup Burgundy -- or other dry red wine
OR
1/4 cup Burgundy wine -- or other dry red wine

Before
1 tablespoon chopped fresh oregano or 1 teaspoon dried whole oregano
After
1 tablespoon chopped fresh oregano -- or 1 teaspoon dried whole oregano

Before
1 tablespoon Triple Sec or other orange-flavored liqueur
after
1 tablespoon Triple Sec -- or other orange-flavored liqueur

Before
2 large firm, unpeeled ripe Bartlett or Cornice pears
After
2 large firm, unpeeled ripe Bartlett pears -- or Cornice pears

Before
1/2 cup dried cranberries or dried tart cherries
After
1/2 cup dried cranberries -- or dried tart cherries

Before
6 (1/4-inch-thick) slices unpeeled yellow or red tomato
After
6 (1/4-inch-thick) slices unpeeled yellow tomato -- or red tomato

Before
1/2 cup fresh or frozen blueberries, unthawed
After
1/2 cup fresh blueberries -- or frozen blueberries, unthawed

Before
3/4 cup 1% low-fat milk or beer
After
3/4 cup 1% low-fat milk -- or beer

Before
1 (6-inch) vanilla bean, split lengthwise or 1 tablespoon vanilla extract
After (Note comma - no change required)
1 (6-inch) vanilla bean, split lengthwise or 1 tablespoon vanilla extract

Before
1 teaspoon instant espresso granules or 2 teaspoons instant coffee granules
After
1 teaspoon instant espresso granules -- or 2 teaspoons instant coffee granules